<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="proyecto" *ngFor="let proy of proyectos">
        <div class="col-sm-12 col-md-7 col-lg-7 texto">
            <h2>{{proy.nombre}}</h2> - <h3>{{proy.periodo}}</h3>
            <p>{{proy.descripcion}}</p>
        </div>
        <div class="col-sm-12 col-md-4 offset-md-1 col-lg-4 offset-lg-1 imagen">
            <a href={{proy.link}}>
                <img src={{proy.imgProyecto}} class="img-fluid">
            </a>
        </div>
    </div>
</div>