<div class="row">
    <H1>Hard and soft skills</H1>
    <div class="col-sm-12 col-md-6 col-lg-4 text-center">
        <circle-progress
      [percent]="80"
      [radius]="100"
      [title]="'HTML'"
      [titleColor]="'#afc8fe'"
      [titleFontSize]="'2.5rem'"
      [showSubtitle]="false"
      [showUnits]="false"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="1"
      [outerStrokeColor]="'#0d6efd'"
      [innerStrokeColor]="'#afc8fe'"
      [animation]="true"
      [animationDuration]="700"
    ></circle-progress>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4 text-center">
        <circle-progress
      [percent]="55"
      [radius]="100"
      [title]="'css'"
      [titleColor]="'#afc8fe'"
      [titleFontSize]="'2.5rem'"
      [showSubtitle]="false"
      [showUnits]="false"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="1"
      [outerStrokeColor]="'#0d6efd'"
      [innerStrokeColor]="'#afc8fe'"
      [animation]="true"
      [animationDuration]="700"
    ></circle-progress>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4 text-center">
        <circle-progress
      [percent]="75"
      [radius]="100"
      [title]="'ts'"
      [titleColor]="'#afc8fe'"
      [titleFontSize]="'2.5rem'"
      [showSubtitle]="false"
      [showUnits]="false"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="1"
      [outerStrokeColor]="'#0d6efd'"
      [innerStrokeColor]="'#afc8fe'"
      [animation]="true"
      [animationDuration]="700"
    ></circle-progress>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4 text-center">
        <circle-progress
      [percent]="85"
      [radius]="100"
      [title]="'Python'"
      [titleColor]="'#afc8fe'"
      [titleFontSize]="'2.5rem'"
      [showSubtitle]="false"
      [showUnits]="false"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="1"
      [outerStrokeColor]="'#0d6efd'"
      [innerStrokeColor]="'#afc8fe'"
      [animation]="true"
      [animationDuration]="700"
    ></circle-progress>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4 text-center">
        <circle-progress
      [percent]="75"
      [radius]="100"
      [title]="'Java'"
      [titleColor]="'#afc8fe'"
      [titleFontSize]="'2.5rem'"
      [showSubtitle]="false"
      [showUnits]="false"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="1"
      [outerStrokeColor]="'#0d6efd'"
      [innerStrokeColor]="'#afc8fe'"
      [animation]="true"
      [animationDuration]="700"
    ></circle-progress>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4 text-center">
        <circle-progress
      [percent]="65"
      [radius]="100"
      [title]="'MySQL'"
      [titleColor]="'#afc8fe'"
      [titleFontSize]="'2.5rem'"
      [showSubtitle]="false"
      [showUnits]="false"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="1"
      [outerStrokeColor]="'#0d6efd'"
      [innerStrokeColor]="'#afc8fe'"
      [animation]="true"
      [animationDuration]="700"
    ></circle-progress>
    </div>
</div>