<!-- <div>
    <app-toolbar></app-toolbar>
    <img src="https://www.hp.com/us-en/shop/app/assets/images/uploads/prod/why-do-i-need-backlit-keyboard-laptop-hero1551747723397.jpg?impolicy=prdimg&imdensity=1&imwidth=1000"
        class="img-fluid " id="banner">
</div> -->
<app-header></app-header>
<div class="container-fluid">
    <app-acerca-de class="card"></app-acerca-de>
    <app-exp-labral class="card"></app-exp-labral>
    <app-exp-academica class="card"></app-exp-academica>
    <app-habilidades class="card"></app-habilidades>
    <app-proyectos class="card"></app-proyectos>
</div>
<app-footer></app-footer>