<div class="container-fluid">
    <div class="card">
        <div class="row"><H1>Iniciar Sesión</H1>
            <form [formGroup]="form" (ngSubmit)="onEnviar($event)">
                <div >
                  <label for="exampleInputEmail1" class="form-label">Ingrese su Email:</label>
                  <input type="email" formControlName="email" class="form-control"
                  [ngClass]="{'is-invalid':Email?.errors && Email?.touched, 'is-valid':!Email?.errors && Email?.touched}"
                  id="exampleInputEmail1" aria-describedby="emailHelp">
                  <div *ngIf="Email?.errors && Email?.touched">
                      <p *ngIf="Email?.hasError('required')" class="text-danger">El email es requerido.</p>
                      <p *ngIf="Email?.hasError('email')" class="text-danger">El formato del email debe ser valido.</p>
                  </div>  
                </div><br><br>
                <div >
                  <label for="exampleInputPassword1" class="form-label">Ingrese su Contraseña:</label>
                  <input type="password" formControlName="password" class="form-control" 
                  [ngClass]="{'is-invalid':Password?.errors && Password?.touched, 'is-valid':!Password?.errors && Password?.touched}"
                  id="exampleInputPassword1">
                  <div *ngIf="Password?.errors && Password?.touched">
                    <p *ngIf="Password?.hasError('required')" class="text-danger">La contraseña es requerido.</p>
                    <p *ngIf="Password?.hasError('minlength')" class="text-danger">La contraseña debe ser de 8 caracteres o más.</p>
                </div> 
                </div><br><br>
                <button type="submit" class="btn btn-primary">Enviar</button><br><br>
              </form>
        </div>
    </div>
</div>