div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logoAP{
    width: 8rem;
}
a img{
    float: right;
    width: 2.5rem;
    position: relative;
}
button{
    margin-right: 1rem;
}