<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2">
        <img class="img-fluid " src="../../../assets/img/ale.jpg">
    </div>
    <div class="col-xs-12 col-sm-2">
        <p>Gabriel Alejandro Godoy</p>
        <p>Full Stack Debeloper Jr</p>
    </div>
    <span class="col-xs-12 col-sm-8">
        <h1>Acerca de mí</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi facilis magni soluta accusamus excepturi sequi
            ipsam, animi ea et exercitationem illo asperiores mollitia alias molestiae rerum impedit qui quia. Ipsum.
        </p>
    </span>

</div>