@media (min-width: 576px){
    #foto-perfil img{
        position: absolute;
        width: 15%;
        border-radius: 50%;
        box-shadow: 0.15rem 0.15rem rgba(99, 97, 97, 0.527) ;
        left: 1%;
        top: -3rem;
    }
    #foto-perfil app-modal-persona{
        position: relative;
        float: right;
    }
}
@media (max-width: 575px){
    #foto-perfil img{
        border-radius: 50%;
        width: 50%;
        position: relative;
        left: 25%;
        top: -2.5rem;
    }
    #foto-perfil app-modal-persona{
        position: relative;        
        top: 1rem;
        left: 1rem;
    }
}
.row{
    padding-top: 0.1%;
    padding-bottom: 8.5%;
    
}

#nombre{
    font-weight: bold;
    font-size: larger;
    margin-top: 1rem;
}
#titulo{
    font-weight: bold;
    font-size: medium;
}
